@keyframes pulseGlow {
  0%,
  100% {
    box-shadow: 0 0 10px rgba(59, 130, 246, 0.5);
  }
  50% {
    box-shadow: 0 0 25px rgba(59, 130, 246, 0.8);
  }
}

.animate-pulseGlow {
  animation: pulseGlow 3s infinite;
}

.card {
  display: inline-flex; /* shrink to content */
  padding: 10px; /* space around image */
  background: #07182e;
  position: relative;
  overflow: hidden;
  border-radius: 20px;
}

.card img {
  z-index: 1;
  border-radius: 15px; /* match inset radius */
  display: block;
  max-width: 100%;
  height: auto;
}

.card::before {
  content: "";
  position: absolute;
  width: 150%; /* wider than the card */
  height: 150%; /* taller than the card */
  top: -25%;
  left: -25%;
  background-image: linear-gradient(
    180deg,
    rgb(0, 183, 255),
    rgb(255, 48, 255)
  );
  animation: rotBGimg 3s linear infinite;
  transition: all 0.2s linear;
}

@keyframes rotBGimg {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.card::after {
  content: "";
  position: absolute;
  background: #07182e;
  inset: 5px;
  border-radius: 15px;
}

.tracking-in-contract {
  -webkit-animation: tracking-in-contract 1s cubic-bezier(0.215, 0.61, 0.355, 1)
    both;
  animation: tracking-in-contract 1s cubic-bezier(0.215, 0.61, 0.355, 1) both;
}

@-webkit-keyframes tracking-in-contract {
  0% {
    letter-spacing: 1em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    letter-spacing: normal;
    opacity: 1;
  }
}

@keyframes tracking-in-contract {
  0% {
    letter-spacing: 1em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    letter-spacing: normal;
    opacity: 1;
  }
}
