@keyframes pulseGlow {
  0%,
  100% {
    box-shadow: 0 0 10px rgba(59, 130, 246, 0.5);
  }
  50% {
    box-shadow: 0 0 25px rgba(59, 130, 246, 0.8);
  }
}

.animate-pulseGlow {
  animation: pulseGlow 3s infinite;
}
